<app-base-page></app-base-page>
<div class="container">
  <div class="jumbotron">

<header class='masthead'>
  <p class='masthead-intro'>Hello, I am </p>
  <h1 class='masthead-heading'>Manpreet Singh</h1>
  <img src="assets/photos/myPhoto.jpg" alt="Avatar" class="avatar"  class="fa fa-align-right" aria-hidden="true">
</header>



<section class="introduction-section">

    <h1>Introduction</h1>
    <p>I am a currently a student at centennial college persuing an advanced diploma in Software Engineering Technology, and soon to be web developer.</p>
    <p>I love the internet, technology, and building beautiful things.</p>
    <p>PDF version of Manpreet Singh's resume in : <a href="assets/docs/Manpreet_Carrier_Portfolio.pdf">Download PDF</a>.</p>
</section>
<section class="location-section">
    <h1>Address</h1>
    <p>182 Sedgemount drive, Scarborough, ON M1H 1Y2, Canada </p>
</section>



