<!-- Content -->

<div class="container ">
  <h3 class="text-center mt-4">My Projects</h3>
<!--Project 1-->
  <div class="row mt-4 bg-dark">
      <div class="col sm-4">
        <img src="../../../assets/photos/Capture.JPG" class="img-fluid img-thumbnail float-right">
      </div>
      <div class="col sm-8 ml-2 text-left">
      <div class="container">
          <h4>My Daily Bread</h4>

          <h6 class="bold">Overview</h6>
          <p>MY Daily Bread is a meal planning automated web application which is powered by Edamam API. This app can easily calculate
              user's BMI and automatically calculate the required calaries per day. This web application can also be used to make a meal
              plan weekly with 3 meals per day along with the ingredients and recipe link.
    </p>

          <h6>Platform Used</h6>
          <p>Android Studio, Java, Php, SQL</p>

          <h6>Project Duration</h6>
          <p>September 2018 - December 2018</p>
      </div>
    </div>
</div>

<!-- Project 2-->
<div class="row mt-4 bg-dark">
      <div class="col sm-4">
        <img src="../../../assets/photos/Capture1.JPG" class="img-fluid img-thumbnail float-right">
      </div>
      <div class="col sm-8 ml-2 text-left">
      <div class="container">
          <h4>My Pizza</h4>

          <h6 class="bold">Overview</h6>
          <p>My pizza is an android application that is used to order the pizza online along with the custom orders
              in which the user can edit his pizza such as topings etcetera.
    </p>

          <h6>Platform Used</h6>
          <p>Android Studio</p>

          <h6>Project Duration</h6>
          <p>Janyary 2018 - April 2018</p>
      </div>
    </div>
</div>

</div>

