
  <!-- Content -->
  <div class="container ">
    <h3 class="text-center mt-4">Services I Can Provide</h3>


    <div class="row mt-4 align-items-center">
        <div class="col md-4">
          <img src="assets/photos/services1.jpg" class="img-fluid ">
          <h3 class="text-center">computer programming </h3>
        </div>
        <div class="col md-4">
            <img src="assets/photos/services2.jpg" class="img-fluid  ">
            <h3 class="text-center"> Web Development</h3>
          </div>
          <div class="col md-4">
              <img src="assets/photos/services3.jpg" class="img-fluid ">
              <h3 class="text-center">mobile app development</h3>
            </div>
      </div>


